In [1]:
import pandas as pd
import plotly.express as px
import matplotlib.pyplot as plt 
import numpy as np
import seaborn as sns
from datetime import datetime,timedelta
from sklearn.preprocessing import LabelEncoder
import xgboost as xgb
from xgboost import plot_importance, plot_tree
from xgboost import XGBClassifier
import datetime
import holidays
from sklearn.preprocessing import LabelEncoder
import prophet
from sklearn.metrics import mean_squared_error
from xgboost import XGBRegressor, plot_importance
from pre_processing_sy import *
# from sktime.forecasting.model_selection import temporal_train_test_split
# from sktime.utils.plotting import plot_series

# 데이터 불러오기

In [2]:
# 데이터 불러오기
train = pd.read_csv("dataset/train.csv")
test = pd.read_csv("dataset/test.csv")
trade = pd.read_csv("dataset/international_trade.csv")
submission = pd.read_csv("dataset/sample_submission.csv")

# 예측하기

In [3]:
# 일별 인덱스 추가해보기(train)
train_pre, test_pre = pre_all(train, test)
temp = pd.melt(pd.pivot(train_pre, columns = ["item","corporation","location"], index = "timestamp", values = "price").reset_index().reset_index(), id_vars = ["timestamp", "index"])
train_pre = pd.merge(train_pre, temp, how = "left", on = ["timestamp","item","corporation","location"]).drop(columns = ["supply","value","index"])

전처리 전 train 크기 : (59397, 7)
전처리 전 test 크기 : (1092, 5)
=================전처리 중=================
전처리 후 train 크기 : (59397, 16)
전처리 후 test 크기 : (1092, 16)

In [4]:
# 일별 인덱스 추가해보기(test)
temp = pd.melt(pd.pivot(test_pre, columns = ["item","corporation","location"], index = "timestamp", values = "price").reset_index().reset_index(), id_vars = ["timestamp", "index"])
test_pre = pd.merge(test_pre, temp, how = "left", on = ["timestamp","item","corporation","location"]).drop(columns = ["supply","price","value","index"])
test_pre.head(5)

,ID,timestamp,item,corporation,location,year,month,day,week_day,year_month,week,week_num,season,holiday
0,TG_A_J_20230304,2023-03-04,TG,A,J,2023,3,4,5,50,9,219,1,0
1,TG_E_S_20230304,2023-03-04,TG,E,S,2023,3,4,5,50,9,219,1,0
2,BC_B_J_20230304,2023-03-04,BC,B,J,2023,3,4,5,50,9,219,1,0
3,TG_E_J_20230304,2023-03-04,TG,E,J,2023,3,4,5,50,9,219,1,0
4,BC_B_S_20230304,2023-03-04,BC,B,S,2023,3,4,5,50,9,219,1,0

In [5]:
train_tg= pd.get_dummies(train_pre, columns = ["item","corporation","location"]).drop(columns = ["ID", "season"])
train_tg.head(5)

,timestamp,price,year,month,day,week_day,year_month,week,week_num,holiday,...,item_RD,item_TG,corporation_A,corporation_B,corporation_C,corporation_D,corporation_E,corporation_F,location_J,location_S
0,2019-01-01,0.0,2019,1,1,1,0,1,1,1,...,0,1,1,0,0,0,0,0,1,0
1,2019-01-01,0.0,2019,1,1,1,0,1,1,1,...,0,0,1,0,0,0,0,0,0,1
2,2019-01-01,0.0,2019,1,1,1,0,1,1,1,...,1,0,0,0,0,1,0,0,1,0
3,2019-01-01,0.0,2019,1,1,1,0,1,1,1,...,0,0,0,0,0,1,0,0,1,0
4,2019-01-01,0.0,2019,1,1,1,0,1,1,1,...,0,0,0,0,0,0,0,1,1,0

In [6]:
cut_off = "2023-02-18"
x_train_sup= train_tg[train_tg["timestamp"]<cut_off].drop(columns = ["timestamp","price"])
x_valid_sup = train_tg[train_tg["timestamp"]>=cut_off].drop(columns = ["timestamp","price"])
y_train_sup, y_valid_sup = train_tg[train_tg["timestamp"]<cut_off]["price"] ,train_tg[train_tg["timestamp"]>=cut_off]["price"]
x_train_sup.head(5)

,year,month,day,week_day,year_month,week,week_num,holiday,item_BC,item_CB,...,item_RD,item_TG,corporation_A,corporation_B,corporation_C,corporation_D,corporation_E,corporation_F,location_J,location_S
0,2019,1,1,1,0,1,1,1,0,0,...,0,1,1,0,0,0,0,0,1,0
1,2019,1,1,1,0,1,1,1,0,1,...,0,0,1,0,0,0,0,0,0,1
2,2019,1,1,1,0,1,1,1,0,0,...,1,0,0,0,0,1,0,0,1,0
3,2019,1,1,1,0,1,1,1,1,0,...,0,0,0,0,0,1,0,0,1,0
4,2019,1,1,1,0,1,1,1,0,1,...,0,0,0,0,0,0,0,1,1,0

In [7]:
### early stopping 
evals = [(x_valid_sup, y_valid_sup)]

xgb_wrapper = XGBRegressor(n_estimators = 1000, random_state = 2024, learning_rate = 0.01, max_depth = 10)
xgb_wrapper.fit(x_train_sup, y_train_sup, early_stopping_rounds =100, eval_set = evals, eval_metric = "rmse", verbose=True)
pred_sup = xgb_wrapper.predict(x_valid_sup)
for idx in range(len(pred_sup)):
    if pred_sup[idx]<0:
        pred_sup[idx]=0
print(np.sqrt(mean_squared_error(y_valid_sup, pred_sup)))

[0]	validation_0-rmse:2055.85738
[1]	validation_0-rmse:2036.86765
[2]	validation_0-rmse:2018.16589
[3]	validation_0-rmse:1999.60851
[4]	validation_0-rmse:1981.30947
[5]	validation_0-rmse:1963.20301
[6]	validation_0-rmse:1945.32574

C:\Users\sybae\anaconda3\Lib\site-packages\xgboost\sklearn.py:835: UserWarning: `eval_metric` in `fit` method is deprecated for better compatibility with scikit-learn, use `eval_metric` in constructor or`set_params` instead.
  warnings.warn(
C:\Users\sybae\anaconda3\Lib\site-packages\xgboost\sklearn.py:835: UserWarning: `early_stopping_rounds` in `fit` method is deprecated for better compatibility with scikit-learn, use `early_stopping_rounds` in constructor or`set_params` instead.
  warnings.warn(

[7]	validation_0-rmse:1927.51621
[8]	validation_0-rmse:1910.06038
[9]	validation_0-rmse:1892.78611
[10]	validation_0-rmse:1875.63087
[11]	validation_0-rmse:1858.75180
[12]	validation_0-rmse:1842.12096
[13]	validation_0-rmse:1825.62593
[14]	validation_0-rmse:1809.37008
[15]	validation_0-rmse:1793.30801
[16]	validation_0-rmse:1777.47527
[17]	validation_0-rmse:1761.78502
[18]	validation_0-rmse:1746.32301
[19]	validation_0-rmse:1730.99268
[20]	validation_0-rmse:1715.93472
[21]	validation_0-rmse:1700.97175
[22]	validation_0-rmse:1686.27404
[23]	validation_0-rmse:1671.83867
[24]	validation_0-rmse:1657.44689
[25]	validation_0-rmse:1643.24064
[26]	validation_0-rmse:1629.16420
[27]	validation_0-rmse:1615.29851
[28]	validation_0-rmse:1601.61127
[29]	validation_0-rmse:1588.12681
[30]	validation_0-rmse:1574.83720
[31]	validation_0-rmse:1561.88197
[32]	validation_0-rmse:1549.04070
[33]	validation_0-rmse:1536.26290
[34]	validation_0-rmse:1523.72810
[35]	validation_0-rmse:1511.47299
[36]	validation_0-rmse:1499.27761
[37]	validation_0-rmse:1487.31270
[38]	validation_0-rmse:1475.53727
[39]	validation_0-rmse:1463.75285
[40]	validation_0-rmse:1452.27198
[41]	validation_0-rmse:1441.06481
[42]	validation_0-rmse:1429.74788
[43]	validation_0-rmse:1418.91838
[44]	validation_0-rmse:1407.73539
[45]	validation_0-rmse:1396.78233
[46]	validation_0-rmse:1386.12247
[47]	validation_0-rmse:1375.35912
[48]	validation_0-rmse:1364.85576
[49]	validation_0-rmse:1354.60203
[50]	validation_0-rmse:1344.19035
[51]	validation_0-rmse:1334.17050
[52]	validation_0-rmse:1324.09464
[53]	validation_0-rmse:1314.36717
[54]	validation_0-rmse:1304.68674
[55]	validation_0-rmse:1294.91043
[56]	validation_0-rmse:1285.49572
[57]	validation_0-rmse:1276.02938
[58]	validation_0-rmse:1266.92210
[59]	validation_0-rmse:1257.81049
[60]	validation_0-rmse:1248.90718
[61]	validation_0-rmse:1240.08551
[62]	validation_0-rmse:1231.49627
[63]	validation_0-rmse:1224.31842
[64]	validation_0-rmse:1215.95011
[65]	validation_0-rmse:1207.66093
[66]	validation_0-rmse:1200.68332
[67]	validation_0-rmse:1192.71383
[68]	validation_0-rmse:1184.74573
[69]	validation_0-rmse:1177.02872
[70]	validation_0-rmse:1170.48194
[71]	validation_0-rmse:1162.86475
[72]	validation_0-rmse:1155.38591
[73]	validation_0-rmse:1149.10832
[74]	validation_0-rmse:1141.69923
[75]	validation_0-rmse:1135.69710
[76]	validation_0-rmse:1128.62336
[77]	validation_0-rmse:1121.66067
[78]	validation_0-rmse:1114.85712
[79]	validation_0-rmse:1108.02564
[80]	validation_0-rmse:1102.39004
[81]	validation_0-rmse:1095.56288
[82]	validation_0-rmse:1090.19623
[83]	validation_0-rmse:1085.51241
[84]	validation_0-rmse:1079.38215
[85]	validation_0-rmse:1074.33500
[86]	validation_0-rmse:1068.14733
[87]	validation_0-rmse:1063.82159
[88]	validation_0-rmse:1057.80840
[89]	validation_0-rmse:1052.11590
[90]	validation_0-rmse:1046.48930
[91]	validation_0-rmse:1042.36031
[92]	validation_0-rmse:1036.99112
[93]	validation_0-rmse:1031.85006
[94]	validation_0-rmse:1026.53324
[95]	validation_0-rmse:1020.94384
[96]	validation_0-rmse:1016.16969
[97]	validation_0-rmse:1011.09640
[98]	validation_0-rmse:1007.58211
[99]	validation_0-rmse:1002.16676
[100]	validation_0-rmse:997.47264
[101]	validation_0-rmse:992.72449
[102]	validation_0-rmse:987.75118
[103]	validation_0-rmse:982.58064
[104]	validation_0-rmse:979.42717
[105]	validation_0-rmse:975.59354
[106]	validation_0-rmse:971.87559
[107]	validation_0-rmse:967.66805
[108]	validation_0-rmse:963.10004
[109]	validation_0-rmse:958.67296
[110]	validation_0-rmse:954.99332
[111]	validation_0-rmse:951.38799
[112]	validation_0-rmse:947.46359
[113]	validation_0-rmse:943.67899
[114]	validation_0-rmse:940.04381
[115]	validation_0-rmse:936.36030
[116]	validation_0-rmse:933.18305
[117]	validation_0-rmse:929.04431
[118]	validation_0-rmse:925.76832
[119]	validation_0-rmse:922.45425
[120]	validation_0-rmse:919.12338
[121]	validation_0-rmse:915.32896
[122]	validation_0-rmse:911.97086
[123]	validation_0-rmse:908.18606
[124]	validation_0-rmse:905.03833
[125]	validation_0-rmse:902.19894
[126]	validation_0-rmse:899.19964
[127]	validation_0-rmse:896.15509
[128]	validation_0-rmse:892.63415
[129]	validation_0-rmse:889.93212
[130]	validation_0-rmse:887.36799
[131]	validation_0-rmse:884.32096
[132]	validation_0-rmse:881.86099
[133]	validation_0-rmse:878.41800
[134]	validation_0-rmse:875.63272
[135]	validation_0-rmse:872.31857
[136]	validation_0-rmse:869.76869
[137]	validation_0-rmse:867.37105
[138]	validation_0-rmse:864.76572
[139]	validation_0-rmse:862.65435
[140]	validation_0-rmse:860.38109
[141]	validation_0-rmse:857.29970
[142]	validation_0-rmse:854.16090
[143]	validation_0-rmse:852.01986
[144]	validation_0-rmse:849.89403
[145]	validation_0-rmse:847.77601
[146]	validation_0-rmse:846.33550
[147]	validation_0-rmse:843.84522
[148]	validation_0-rmse:841.64973
[149]	validation_0-rmse:839.49649
[150]	validation_0-rmse:837.49261
[151]	validation_0-rmse:836.27012
[152]	validation_0-rmse:833.80905
[153]	validation_0-rmse:831.97643
[154]	validation_0-rmse:829.95237
[155]	validation_0-rmse:828.29352
[156]	validation_0-rmse:826.70109
[157]	validation_0-rmse:825.07895
[158]	validation_0-rmse:823.20660
[159]	validation_0-rmse:821.48435
[160]	validation_0-rmse:819.95295
[161]	validation_0-rmse:818.26165
[162]	validation_0-rmse:816.68355
[163]	validation_0-rmse:814.94619
[164]	validation_0-rmse:812.86898
[165]	validation_0-rmse:811.23861
[166]	validation_0-rmse:809.88098
[167]	validation_0-rmse:808.33261
[168]	validation_0-rmse:806.66683
[169]	validation_0-rmse:805.20556
[170]	validation_0-rmse:803.80809
[171]	validation_0-rmse:802.39086
[172]	validation_0-rmse:800.69863
[173]	validation_0-rmse:799.41384
[174]	validation_0-rmse:797.93642
[175]	validation_0-rmse:795.91951
[176]	validation_0-rmse:794.76470
[177]	validation_0-rmse:793.35188
[178]	validation_0-rmse:791.63402
[179]	validation_0-rmse:790.33887
[180]	validation_0-rmse:789.10926
[181]	validation_0-rmse:786.94700
[182]	validation_0-rmse:785.40273
[183]	validation_0-rmse:784.43043
[184]	validation_0-rmse:783.45041
[185]	validation_0-rmse:782.62450
[186]	validation_0-rmse:780.76423
[187]	validation_0-rmse:778.73530
[188]	validation_0-rmse:777.28400
[189]	validation_0-rmse:775.86932
[190]	validation_0-rmse:774.11082
[191]	validation_0-rmse:773.12024
[192]	validation_0-rmse:771.74757
[193]	validation_0-rmse:769.99910
[194]	validation_0-rmse:768.98194
[195]	validation_0-rmse:767.21678
[196]	validation_0-rmse:766.28562
[197]	validation_0-rmse:764.51201
[198]	validation_0-rmse:763.78621
[199]	validation_0-rmse:763.24451
[200]	validation_0-rmse:762.16148
[201]	validation_0-rmse:760.57820
[202]	validation_0-rmse:759.16096
[203]	validation_0-rmse:758.79869
[204]	validation_0-rmse:757.41770
[205]	validation_0-rmse:755.86347
[206]	validation_0-rmse:754.81907
[207]	validation_0-rmse:753.44537
[208]	validation_0-rmse:752.54816
[209]	validation_0-rmse:751.78595
[210]	validation_0-rmse:750.73354
[211]	validation_0-rmse:749.84912
[212]	validation_0-rmse:748.82870
[213]	validation_0-rmse:747.48925
[214]	validation_0-rmse:746.43426
[215]	validation_0-rmse:745.69468
[216]	validation_0-rmse:744.32777
[217]	validation_0-rmse:742.94112
[218]	validation_0-rmse:742.16963
[219]	validation_0-rmse:741.22800
[220]	validation_0-rmse:740.60781
[221]	validation_0-rmse:739.66099
[222]	validation_0-rmse:738.33215
[223]	validation_0-rmse:737.88365
[224]	validation_0-rmse:736.87721
[225]	validation_0-rmse:735.92997
[226]	validation_0-rmse:735.67200
[227]	validation_0-rmse:734.72982
[228]	validation_0-rmse:733.52445
[229]	validation_0-rmse:732.80055
[230]	validation_0-rmse:731.93355
[231]	validation_0-rmse:731.45296
[232]	validation_0-rmse:730.71010
[233]	validation_0-rmse:729.81289
[234]	validation_0-rmse:729.54209
[235]	validation_0-rmse:728.78566
[236]	validation_0-rmse:727.99495
[237]	validation_0-rmse:727.00076
[238]	validation_0-rmse:726.56597
[239]	validation_0-rmse:725.99451
[240]	validation_0-rmse:725.21845
[241]	validation_0-rmse:725.00652
[242]	validation_0-rmse:724.29850
[243]	validation_0-rmse:723.65687
[244]	validation_0-rmse:723.30655
[245]	validation_0-rmse:722.69163
[246]	validation_0-rmse:722.38274
[247]	validation_0-rmse:722.20206
[248]	validation_0-rmse:721.91728

[249]	validation_0-rmse:722.36589
[250]	validation_0-rmse:722.15615
[251]	validation_0-rmse:722.20022
[252]	validation_0-rmse:722.29452
[253]	validation_0-rmse:721.96175
[254]	validation_0-rmse:722.09756
[255]	validation_0-rmse:722.14168
[256]	validation_0-rmse:721.89803
[257]	validation_0-rmse:722.02026
[258]	validation_0-rmse:722.34803
[259]	validation_0-rmse:722.11664
[260]	validation_0-rmse:722.43222
[261]	validation_0-rmse:722.74392
[262]	validation_0-rmse:722.99825
[263]	validation_0-rmse:723.37662
[264]	validation_0-rmse:723.61113
[265]	validation_0-rmse:724.17960
[266]	validation_0-rmse:724.62011
[267]	validation_0-rmse:725.05852
[268]	validation_0-rmse:725.45829
[269]	validation_0-rmse:725.92387
[270]	validation_0-rmse:726.41285
[271]	validation_0-rmse:726.73997
[272]	validation_0-rmse:727.36550
[273]	validation_0-rmse:728.01040
[274]	validation_0-rmse:728.60936
[275]	validation_0-rmse:729.14837
[276]	validation_0-rmse:729.07217
[277]	validation_0-rmse:729.65750
[278]	validation_0-rmse:729.50722
[279]	validation_0-rmse:730.21483
[280]	validation_0-rmse:730.88491
[281]	validation_0-rmse:730.66118
[282]	validation_0-rmse:731.46306
[283]	validation_0-rmse:731.53619
[284]	validation_0-rmse:732.32024
[285]	validation_0-rmse:732.13892
[286]	validation_0-rmse:732.84440
[287]	validation_0-rmse:733.66860
[288]	validation_0-rmse:733.60538
[289]	validation_0-rmse:734.39022
[290]	validation_0-rmse:734.35654
[291]	validation_0-rmse:734.31201
[292]	validation_0-rmse:735.02787
[293]	validation_0-rmse:735.34617
[294]	validation_0-rmse:736.08186
[295]	validation_0-rmse:736.05338
[296]	validation_0-rmse:737.00492
[297]	validation_0-rmse:736.98260
[298]	validation_0-rmse:737.90038
[299]	validation_0-rmse:737.69050
[300]	validation_0-rmse:738.03646
[301]	validation_0-rmse:738.00009
[302]	validation_0-rmse:737.98601
[303]	validation_0-rmse:737.84320
[304]	validation_0-rmse:737.67221
[305]	validation_0-rmse:737.68180
[306]	validation_0-rmse:737.57316
[307]	validation_0-rmse:737.42422
[308]	validation_0-rmse:737.84311
[309]	validation_0-rmse:737.69744
[310]	validation_0-rmse:737.41082
[311]	validation_0-rmse:737.07067
[312]	validation_0-rmse:736.82155
[313]	validation_0-rmse:736.60555
[314]	validation_0-rmse:736.36428
[315]	validation_0-rmse:736.16581
[316]	validation_0-rmse:735.85103
[317]	validation_0-rmse:735.66620
[318]	validation_0-rmse:735.51306
[319]	validation_0-rmse:735.29593
[320]	validation_0-rmse:735.18728
[321]	validation_0-rmse:734.96836
[322]	validation_0-rmse:734.84425
[323]	validation_0-rmse:734.87875
[324]	validation_0-rmse:734.68459
[325]	validation_0-rmse:734.83631
[326]	validation_0-rmse:734.66586
[327]	validation_0-rmse:734.52867
[328]	validation_0-rmse:734.31238
[329]	validation_0-rmse:734.29088
[330]	validation_0-rmse:734.24384
[331]	validation_0-rmse:734.49533
[332]	validation_0-rmse:734.75468
[333]	validation_0-rmse:734.67510
[334]	validation_0-rmse:735.01202
[335]	validation_0-rmse:735.22832
[336]	validation_0-rmse:735.41559
[337]	validation_0-rmse:735.45966
[338]	validation_0-rmse:735.74095
[339]	validation_0-rmse:735.59247
[340]	validation_0-rmse:735.84518
[341]	validation_0-rmse:735.80793
[342]	validation_0-rmse:735.86933
[343]	validation_0-rmse:736.05270
[344]	validation_0-rmse:736.29665
[345]	validation_0-rmse:736.43776
[346]	validation_0-rmse:736.70635
[347]	validation_0-rmse:736.70819
[348]	validation_0-rmse:736.25287
[349]	validation_0-rmse:736.43668
[350]	validation_0-rmse:736.77768
[351]	validation_0-rmse:737.10068
[352]	validation_0-rmse:737.39698
[353]	validation_0-rmse:737.57238
[354]	validation_0-rmse:738.04404
[355]	validation_0-rmse:738.04815
[356]	validation_0-rmse:738.31129
721.8948673014718

In [8]:
### test 해보기
test_no_sort =  pd.get_dummies(test_pre, columns = ["item","corporation","location"]).drop(columns = ["ID", "season","timestamp"])
test_no_sort.head(5)

,year,month,day,week_day,year_month,week,week_num,holiday,item_BC,item_CB,...,item_RD,item_TG,corporation_A,corporation_B,corporation_C,corporation_D,corporation_E,corporation_F,location_J,location_S
0,2023,3,4,5,50,9,219,0,0,0,...,0,1,1,0,0,0,0,0,1,0
1,2023,3,4,5,50,9,219,0,0,0,...,0,1,0,0,0,0,1,0,0,1
2,2023,3,4,5,50,9,219,0,1,0,...,0,0,0,1,0,0,0,0,1,0
3,2023,3,4,5,50,9,219,0,0,0,...,0,1,0,0,0,0,1,0,1,0
4,2023,3,4,5,50,9,219,0,1,0,...,0,0,0,1,0,0,0,0,0,1

In [9]:
print(f"test의 컬럼 : {test_no_sort.columns}")
print(f"train의 컬럼 : {x_valid_sup.columns}")
print(f"test의 컬럼 : {len(test_no_sort.columns)}")
print(f"train의 컬럼 : {len(x_valid_sup.columns)}")

test의 컬럼 : Index(['year', 'month', 'day', 'week_day', 'year_month', 'week', 'week_num',
       'holiday', 'item_BC', 'item_CB', 'item_CR', 'item_RD', 'item_TG',
       'corporation_A', 'corporation_B', 'corporation_C', 'corporation_D',
       'corporation_E', 'corporation_F', 'location_J', 'location_S'],
      dtype='object')
train의 컬럼 : Index(['year', 'month', 'day', 'week_day', 'year_month', 'week', 'week_num',
       'holiday', 'item_BC', 'item_CB', 'item_CR', 'item_RD', 'item_TG',
       'corporation_A', 'corporation_B', 'corporation_C', 'corporation_D',
       'corporation_E', 'corporation_F', 'location_J', 'location_S'],
      dtype='object')
test의 컬럼 : 21
train의 컬럼 : 21

In [10]:
### early stopping 
# evals = [(x_valid_sup, y_valid_sup)]

xgb_wrapper = XGBRegressor(n_estimators = 1000, random_state = 2024, learning_rate = 0.01, max_depth = 10)
xgb_wrapper.fit(train_tg.drop(columns = ["timestamp","price"]), train_tg["price"], eval_metric = "rmse", verbose=True)
pred_test_nosort = xgb_wrapper.predict(test_no_sort)
for idx in range(len(pred_test_nosort)):
    if pred_test_nosort[idx]<0:
        pred_test_nosort[idx]=0

C:\Users\sybae\anaconda3\Lib\site-packages\xgboost\sklearn.py:835: UserWarning: `eval_metric` in `fit` method is deprecated for better compatibility with scikit-learn, use `eval_metric` in constructor or`set_params` instead.
  warnings.warn(

In [11]:
answer_no_sort = pd.concat([test_pre["ID"],pd.DataFrame(pred_test_nosort, columns = ["answer"])], axis = 1)
answer_no_sort.head(7)

                ID       answer
0  TG_A_J_20230304  3012.150635
1  TG_E_S_20230304  3406.471680
2  BC_B_J_20230304  2663.313232
3  TG_E_J_20230304   553.707703
4  BC_B_S_20230304    75.890663
5  TG_D_S_20230304  3589.088867
6  BC_C_J_20230304  2583.179688